{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}
    <header>
        <h1>Animate</h1>
    </header>
    <div id="body" class="row">
      <div class="col-md-12 text-center">
        <canvas id="canvas"></canvas>
      </div>
    </div>
{% endblock %}
